div.slide-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.slide-container > div{
  margin: 10px;
}
.showSlide{
    display: none;
}

div.showSlide img{
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slideText{
  font-size: 2em;
  width: 50%;
  align-content: center;
  text-align: center;
  color: #9A0276;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: auto;
    padding: 20px;
    font-size: 30px;
    color: darkgoldenrod;
}
.right{
    right: 0;
}